<h1 class="text-4xl font-bold"><%=t ".reset_password_instructions" %></h1>

<%= form_with url: passwords_path, data: {turbo: false} do |form| %>
  <div>
    <%= form.label :email, t("activerecord.attributes.user.email") %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.submit t(".reset_password_instructions") %>
  </div>
<% end %>

<%= render "pauth/shared/links" %>
