<% if controller_name != "sessions" %>
  <p><%= link_to t(".sign_in"), new_session_path %></p>
<% end %>

<% if controller_name != "magic_links" %>
  <p><%= link_to t(".send_magic_link"), new_magic_link_path %></p>
<% end %>

<% if User.registerable? && controller_name != "registrations" %>
  <p><%= link_to t(".sign_up"), new_registration_path %></p>
<% end %>

<% if User.omniauthable? && (controller_name == "sessions" || controller_name == "registrations") %>
  <% ActiveAuthentication.omniauth_providers.each do |provider| %>
    <p><%= link_to t(".sign_in_or_sign_up_with", provider: provider), omniauth_path(provider) %></p>
  <% end %>
<% end  %>

<% if User.recoverable? && controller_name != "registrations" && controller_name != "passwords" %>
  <p><%= link_to t(".reset_password"), new_password_path %></p>
<% end %>

<% if User.confirmable? && controller_name != "confirmations" %>
  <p><%= link_to t(".send_email_confirmation_instructions"), new_confirmation_path %></p>
<% end %>

<% if User.lockable? && controller_name != "unlocks" %>
  <p><%= link_to t(".send_unlock_instructions"), new_unlock_path %></p>
<% end %>
